

<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Edit Profile</h4>
                      <p class="card-category">Complete your profile</p>
                  </div>
                  <div class="card-body">
                      <form  [formGroup]="updateForm">
                          <div class="row">
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput formControlName="userName" [(ngModel)]="username" placeholder="Username">
                                  </mat-form-field>
                                     <div *ngIf="updateForm.controls['userName'].invalid && (updateForm.controls['userName'].dirty || updateForm.controls['userName'].touched)" class="text-danger">
                                        <small *ngIf="updateForm.controls['userName'].errors.required">
                                          User Name is required.
                                        </small>
                                     </div>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email address" [(ngModel)]="email" [class.is-invalid] ="Email.invalid && Email.touched" formControlName="email" type="email">
                                  </mat-form-field>
                                      <div *ngIf="(Email.invalid && Email.touched) || Email.dirty">
                                         <small *ngIf="Email.errors?.required" class="text-danger">email is required</small>
                                         <small *ngIf="Email.errors?.pattern" class="text-danger">Please provide a valid email address</small>
                                      </div>
                              </div>
                              <!-- <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Password" [(ngModel)]="password" formControlName="password" type="password" >
                                </mat-form-field>
                                    <div *ngIf="updateForm.controls['password'].invalid &&
                                          (updateForm.controls['password'].dirty || updateForm.controls['password'].touched)" 
                                          class="text-danger">
                                       <small *ngIf="updateForm.controls['password'].errors.required">Password is required.</small>
                                       <small *ngIf="updateForm.controls['password'].errors.minlength">password must be at least 8 characters long.</small>
                                    </div>
                              </div> -->
                              <!-- <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Confirm password" formControlName="confirmPassword" type="password" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"> 
                                </mat-form-field> -->

                                    <!-- <div *ngIf="updateForm.controls['confirmPassword'].invalid &&
                                       (updateForm.controls['confirmPassword'].dirty || updateForm.controls['confirmPassword'].touched)" 
                                       class="text-danger">
                                       <small *ngIf="updateForm.controls['confirmPassword'].errors.required">Confirm Password is required.</small>

                                       <small *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</small>
                                    </div> -->
                            <!-- </div> -->
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="First Name" [(ngModel)]="firstname" formControlName="firstName" type="text">
                                </mat-form-field>
                                    <div *ngIf="updateForm.controls['firstName'].invalid && (updateForm.controls['firstName'].dirty || updateForm.controls['firstName'].touched)" class="text-danger">
                                       <small *ngIf="updateForm.controls['firstName'].errors.required">
                                          First Name is required.
                                       </small>
                                    </div>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Last Name" [(ngModel)]="lastname" formControlName="lastName" type="text">
                                </mat-form-field>
                                    <div *ngIf="updateForm.controls['lastName'].invalid && (updateForm.controls['lastName'].dirty || updateForm.controls['lastName'].touched)" class="text-danger">
                                        <small *ngIf="updateForm.controls['lastName'].errors.required">
                                            Last Name is required.
                                        </small>
                                    </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Address"  [(ngModel)]="address" formControlName="address"  type="text">
                                </mat-form-field>
                                   <div *ngIf="updateForm.controls['address'].invalid &&
                                       (updateForm.controls['address'].dirty || updateForm.controls['address'].touched)" 
                                       class="text-danger">
                                       <small *ngIf="updateForm.controls['address'].errors.required">Address code is required.</small>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="City" [(ngModel)]="city" formControlName="city" type="text">
                                </mat-form-field>
                                   <div *ngIf="updateForm.controls['city'].invalid &&
                                       (updateForm.controls['city'].dirty || updateForm.controls['city'].touched)" 
                                       class="text-danger">
                                       <small *ngIf="updateForm.controls['city'].errors.required">City is required.</small>
                                    </div>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Country" [(ngModel)]="country" formControlName="country" type="text">
                                </mat-form-field>
                                     <div *ngIf="updateForm.controls['country'].invalid &&
                                       (updateForm.controls['country'].dirty || updateForm.controls['country'].touched)" 
                                       class="text-danger">
                                       <small *ngIf="updateForm.controls['country'].errors.required">Country is required.</small>
                                     </div>
                              </div>
                              <div class="col-md-4">
                                 <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Postal Code" [(ngModel)]="postalcode" formControlName="postalCode" type="text">
                                 </mat-form-field>
                                    <div *ngIf="updateForm.controls['postalCode'].invalid &&
                                        (updateForm.controls['postalCode'].dirty || updateForm.controls['postalCode'].touched)" 
                                        class="text-danger">
                                      <small *ngIf="updateForm.controls['postalCode'].errors.required">Postal code is required.</small>
                                   </div>
                              </div>
                          </div>
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="update()">Update Profile</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                    <span class="upload_66">
                      <i class="fa fa-edit"></i>
                      <input type="file" #uploadFile value="imageSrc"
                      (change)="onFileChange($event)" accept="image/*">
                    </span>
                  <a href="javascript:void(0)">
                    <!-- <input 
                    [(ngModel)]="profile_img"
                    id="file" 
                    type="file" 
                    accept="image/*"
                    class="form-control"
                    (change)="onFileChange($event)"> -->
                   
                      <img *ngIf="image" class="img-responsive" [src]="image" />
                   <img *ngIf="!image && imageSrc" class="img" src="{{img_url}}{{imageSrc}}"/>
                  </a>
                  </div>
                    <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">{{username}}</h4>
                    </div>
              </div>
          </div>
      </div>
  </div>
</div>
